
.section-qualification {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px auto;
}

.section-qualification-content-heading {
	text-align: center;
	color: black;
	border: 1px solid black;
	padding: 5px;
}

.section-qualification-education-content {
	color: grey;
	width: 270px;
}

.section-qualification-skills-content {
	text-align: center;
	width: 270px;
}

.section-qualification-expertise-content{
	text-align: center;
	width: 270px;
}

.section-qualification-content-skills-heading {
	background-color: #F0CEA0;
	padding: 6px;
}

.section-qualification-left-line {
	width: 55px;
	height: 2px;
	background-color: black;
	position: relative;
	top: 20px;
}

.section-qualification-right-line {
	width: 55px;
	height: 2px;
	background-color: black;
	position: relative;
	top: 20px;
}

@media screen and (max-width: 999px) {
	.section-qualification-right-line {
		width:0px;
	}
	.section-qualification-expertise-content{
		width: 595px;
	}
}

@media screen and (max-width: 594px) {
	.section-qualification-left-line {
		width:0px;
	}
	.section-qualification-education-content {
		width: 300px;
	}

	.section-qualification-skills-content {
		width: 300px;
	}
	.section-qualification-expertise-content{
		width: 300px;
	}
}
